body{
    background-image: url(https://scontent.fhyd2-1.fna.fbcdn.net/v/t39.30808-6/300834956_605121521319245_861511728807909894_n.jpg?stp=dst-jpg_p600x600&_nc_cat=105&ccb=1-7&_nc_sid=783fdb&_nc_ohc=sLzcYz8YKscAX-BcgAB&_nc_ht=scontent.fhyd2-1.fna&oh=00_AfC6ywO9NUbFBCJ9ww4AhlVfXBMt7JSkGi6O9auyfCpo3A&oe=65C1094B);
    background-repeat: no-repeat;
    background-size: cover;
}